@media (min-width: 800px) {
  .flixerProjectPageHeader {
    color: white;
    justify-content: center;
    display: grid;
    text-align: center;
  }

  .headerTags {
    display: ruby;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.4rem;
    gap: 10px;
    justify-content: center;
  }

  .withPointsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .headerPoints {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    background-color: #609bff;
  }

  .headerTitle {
    font-size: 5rem;
  }

  .flixerProjectLink {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .flixerProjectLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .flixerProjectImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .flixerProjectImage {
    width: 65%;
    border-radius: 20px !important;
  }

  .flixerProjectOverviewAndChapters {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

    color: rgb(225, 225, 225);
  }

  .flixerProjectOverview {
    width: 50%;
  }

  .flixerProjectOverviewTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .flixerProjectOverviewText {
    font-size: 1.5rem;
  }

  .flixerProjectChapters {
    width: 50%;
    text-align: end;
  }

  .flixerProjectChaptersTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .flixerProjectChaptersText {
    font-size: 2rem;
  }

  .flixerProjectObjective {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
  }

  .flixerProjectObjectiveTitle {
    color: white;
    font-size: 3rem;
    font-weight: 400;
  }

  .flixerProjectObjectiveText {
    color: rgb(225, 225, 225);
    font-size: 1.5rem;

    margin-top: 1rem;
  }

  .videoContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .videoFlixer {
    border-radius: 25px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .flixerProjectPageHeader {
    color: white;
    justify-content: center;
    display: grid;
    text-align: center;
  }

  .headerTags {
    display: ruby;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
    gap: 10px;
    justify-content: center;
  }

  .withPointsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .headerPoints {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 0.5rem;
    background-color: #609bff;
  }

  .headerTitle {
    font-size: 3rem;
    line-height: 3rem;
  }

  .flixerProjectLink {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .flixerProjectLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .flixerProjectImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .flixerProjectImage {
    width: 65%;
    border-radius: 20px !important;
  }

  .flixerProjectOverviewAndChapters {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;

    color: rgb(225, 225, 225);
  }

  .flixerProjectOverviewTitle {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .flixerProjectOverviewText {
    font-size: 1rem;
  }

  .flixerProjectChapters {
    text-align: end;
    display: none;
  }

  .flixerProjectChaptersTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .flixerProjectChaptersText {
    font-size: 2rem;
  }

  .flixerProjectObjective {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
  }

  .flixerProjectObjectiveTitle {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
  }

  .flixerProjectObjectiveText {
    color: rgb(225, 225, 225);
    font-size: 1rem;

    margin-top: 1rem;
  }

  .videoContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .videoFlixer {
    border-radius: 25px;
    width: 50%;
  }
}
