@media (min-width: 800px) {
  .transactionFlowProjectPageHeader {
    color: white;
    justify-content: center;
    display: grid;
    text-align: center;
  }

  .headerTags {
    display: ruby;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.4rem;
    gap: 10px;
    justify-content: center;
  }

  .withPointsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .headerPoints {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    background-color: #609bff;
  }

  .headerTitle {
    font-size: 5rem;
  }

  .transactionFlowProjectLink {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .transactionFlowProjectLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .transactionFlowProjectImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .transactionFlowProjectImage {
    width: 65%;
    border-radius: 20px !important;
  }

  .transactionFlowProjectOverviewAndChapters {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

    color: rgb(225, 225, 225);
  }

  .transactionFlowProjectOverview {
    width: 50%;
  }

  .transactionFlowProjectOverviewTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .transactionFlowProjectOverviewText {
    font-size: 1.5rem;
  }

  .transactionFlowProjectChapters {
    width: 50%;
    text-align: end;
  }

  .transactionFlowProjectChaptersTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .transactionFlowProjectChaptersText {
    font-size: 2rem;
  }

  .transactionFlowProjectObjective {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
  }

  .transactionFlowProjectObjectiveTitle {
    color: white;
    font-size: 3rem;
    font-weight: 400;
  }

  .transactionFlowProjectObjectiveText {
    color: rgb(225, 225, 225);
    font-size: 1.5rem;

    margin-top: 1rem;
  }

  .videoContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .video {
    border-radius: 25px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .transactionFlowProjectPageHeader {
    color: white;
    justify-content: center;
    display: grid;
    text-align: center;
  }

  .headerTags {
    display: ruby;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
    gap: 10px;
    justify-content: center;
  }

  .withPointsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .headerPoints {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 0.5rem;
    background-color: #609bff;
  }

  .headerTitle {
    font-size: 3rem;
    line-height: 3rem;
  }

  .transactionFlowProjectLink {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .transactionFlowProjectLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .transactionFlowProjectImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .transactionFlowProjectImage {
    width: 65%;
    border-radius: 20px !important;
  }

  .transactionFlowProjectOverviewAndChapters {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;

    color: rgb(225, 225, 225);
  }

  .transactionFlowProjectOverviewTitle {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .transactionFlowProjectOverviewText {
    font-size: 1rem;
  }

  .transactionFlowProjectChapters {
    text-align: end;
    display: none;
  }

  .transactionFlowProjectChaptersTitle {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
  }

  .transactionFlowProjectChaptersText {
    font-size: 2rem;
  }

  .transactionFlowProjectObjective {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
  }

  .transactionFlowProjectObjectiveTitle {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
  }

  .transactionFlowProjectObjectiveText {
    color: rgb(225, 225, 225);
    font-size: 1rem;

    margin-top: 1rem;
  }

  .videoContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .video {
    border-radius: 25px;
    width: 50%;
  }
}
