
$theme-colors: (
  "primary": #609bff,
  "secondary": #404752,
  "dark": #1a1d23,
  "transparent": transparent
);

@import '~bootstrap/scss/bootstrap.scss';

.navbar{
  font-size: 30px;

  // font-family: "Sarabun Sans", sans-serif;
  font-weight: 100;

  .logoSize{
    height: 65px;
    width: 65px;
  }

  .leftPaddingNavbarItems{
    padding-left: 50px !important;
  }
}



.sectionsContainers{
  // font-family: "Sarabun", sans-serif ;
  font-weight: 100;
  background-color: #1a1d23;
  color: white;
}